script(src='/bower_components/jquery/dist/jquery.js')
link(href='/bower_components/bootstrap/dist/css/bootstrap.css'
     rel='stylesheet')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-messages/angular-messages.js')
script(src='/bower_components/angular-route/angular-route.js')
//script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
//script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
script(src="/bower_components/prism/prism.js")
//script(type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js")
//script(src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js")
//script(src="/bower_components/angular-fusioncharts/dist/angular-fusioncharts.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
script(src="http://cdn.zingchart.com/zingchart.min.js")
script(src="http://cdn.zingchart.com/angular/zingchart-angularjs.js")
script(src='/public/dist/app.js')
