//- ./views/partials/dateView.jade
p Games for #{date}
div
  ul
    li(ng-repeat="board in boards.boards track by board.id")
      a(href="#/game/{{ board.id }}") Game {{ '#' + board.id}}

  div(ng-show="boards.selectedBoard")
    p Game {{ '#' + boards.selectedBoard.id }}
    tic-tac-toe-board(the-board="boards.selectedBoard.board")