// ./views/partials/dateView.jade

div.row
  div.col-md-3
    h4.text-left
      a(href='/gamedate/{{vm.prevDate}}') {{vm.prev_long}}
  div.col-md-6
    h3.text-center Games for {{vm.long_date}}
  div.col-md-3
    h4.text-right
      a(href='/gamedate/{{vm.nextDate}}') {{vm.next_long}}
div(ng-show="vm.gameList")
  table.table.table-condensed
      tr.table-bordered.row(ng-init="row_ind = $index", ng-repeat="game in vm.gameList track by $index")
        td.info.col-md-1 
          div.text-left {{game.teams[0].awayTeam}}
          div.text-left
            img(src="{{vm.logoUrl}}{{game.teams[0].awayTeam}}.gif")
        td.info.col-md-1
          div.text-center {{game.prd.s}}
          div.text-center at
        td.info.col-md-1
          div.text-right
            img(src="{{vm.logoUrl}}{{game.teams[1].homeTeam}}.gif")
          div.text-right {{game.teams[1].homeTeam}}

        td.table-bordered.col-md-1(ng-repeat="qtr in game.qts track by $index")
          div.text-center {{game.teams[0].scores[$index + 1]}}
          div.text-center {{game.teams[1].scores[$index + 1]}}
        td.table-bordered.col-md-1
          div.text-center 
            b {{game.teams[0].scores[0]}}
          div.text-center 
            b {{game.teams[1].scores[0]}}
        td.table-bordered.col-md-2
          a.text-center(href='/gameflow/{{game.gid}}') Game Flow Chart

div(ng-show="vm.error")
  h3.text-center {{vm.error}}
