// ./views/partials/dateView.jade

div(ng-show="vm.game_id")
  div.row
    div.col-md-1
    div.col-md-2.text-center
      h3 {{vm.away_team}}
    div.col-md-2.text-center
      img(src="{{vm.logoUrl}}/{{vm.away_team}}.gif")
    div.col-md-2.text-center
      h5 at
      h5 {{vm.game_status}}
    div.col-md-2.text-center
        img(src="{{vm.logoUrl}}/{{vm.home_team}}.gif")
    div.col-md-2.text-center
      h3 {{vm.home_team}}
    div.col-md-1

  br

  div(zingchart id="chart-1" zc-json="vm.marginData" zc-type="bar" zc-width="100%" zc-height="100%")

  br

  table.table.table-condensed
      tr.table-bordered.row(ng-init="row_ind = $index", ng-repeat="score in vm.score_elements track by $index")
        td.table-bordered.col-md-5 {{score.away_team_text}}
        td.table-bordered.info.col-md-2.text-center
          div(ng-if="score.qtr < 5") Quarter {{score.qtr}}, {{score.timestamp}}
          div(ng-if="score.qtr > 4") OT{{score.qtr - 4}}, {{score.timestamp}}
          div {{vm.away_team}} {{score.away_score}}-{{score.home_score}} {{vm.home_team}}
        td.table-bordered.col-md-5 {{score.home_team_text}}

div(ng-show="vm.error")
  h3 {{vm.error}}