// ./views/partials/dateView.jade

div(ng-show="vm.game_id")
  h3 {{vm.game_id}}
  h3 {{vm.gamecode}}

  table.table.table-condensed
      tr.table-bordered.row(ng-init="row_ind = $index", ng-repeat="score in vm.score_elements track by $index")
        td.table-bordered.col-md-5 {{score.away_team}}
        td.table-bordered.info.col-md-2  {{score.score}}
        td.table-bordered.col-md-5 {{score.home_team}}

div(ng-show="vm.error")
  h3 {{vm.error}}