//- ./views/layout.jade
doctype html
html(ng-app="bewd.nba-vis")
  head
    //style 
    //  include ./includes/ac_chart.css
    //link(href='/ac_chart.css'
    // rel='stylesheet')
    include ./includes/bower_bootstrap.jade
    include ./includes/header.jade
    base(href="/")
    block title
      title NBA Game Visualizer

  body
    //include ./includes/flash.jade
    //include ./mixins/forLoggedInUser.jade
    div.container-fluid
      div.well
        block content